.tweetbox {
  border-right: 1px solid #e6ecf0;
  border-left: 1px solid #e6ecf0;
}

.tweetbox-form {
  padding-bottom: 10px;
  border-bottom: 2px solid #e6ecf0;
  padding-right: 10px;
}

.tweetbox-form form {
  display: flex;
  flex-direction: column;
}

.tweetbox-form-input {
  display: flex;
  padding: 20px;
}

.tweetbox-form-input img {
  border-radius: 50%;
  height: 40px;
}

.tweetbox-form-input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.btn-tweet {
  display: flex;
  justify-content: flex-end;
}

.tweetbox-form-button {
  background-color: #50b7f5;
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

.deactivate-tweet-btn {
  background-color: #92b5cb;
}

.active--tweet-btn {
  background-color: #50b7f5;
}
