.timeline {
  border-right: 1px solid #e6ecf0;
  border-left: 1px solid #e6ecf0;
}

.timeline__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e6ecf0;
  padding: 15px 20px;
}

.timeline__header h2 {
  font-size: 20px;
  font-weight: 800;
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 2px solid #e6ecf0;
  padding-right: 10px;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetbox__input {
  display: flex;
  padding: 20px;
}

.tweetbox__input img {
  border-radius: 50%;
  height: 40px;
}

.tweetbox__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.btn-tweet {
  display: flex;
  justify-content: flex-end;
}

.tweetBox__tweetButton {
  background-color: #50b7f5;
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}
