<div class="tweetbox">
  <div class="tweetbox-form">
    <form (ngSubmit)="onSubmit($event)">
      <div class="tweetbox-form-input">
        <img
          src="{{ user.profileImage }}"
          alt=""/>
        <input name="content" [(ngModel)]="tweetContent" maxlength="130" type="text" placeholder="What's happening?" />
      </div>
      <div class="tweetbox-form-button">
        <h3 [ngClass]="getRemainingCharacters() < 15 ? 'alert-characters-limit' : 'remaining-characters'">{{ getRemainingCharacters() }}</h3>
        <button class="tweet-button" [disabled]="isTweetContentEmpty" [ngClass]="isTweetContentEmpty ? 'deactive-tweet-btn' : 'active--tweet-btn'">Tweet</button>
      </div>
    </form>
  </div>
</div>
