<div class="tweet" *ngFor="let tweet of tweets">
  <div class="tweet-user-img">
    <img
      src="{{ user.profileImage }}"
    />
  </div>

  <div class="tweet-body">
    <div class="tweet-header">
      <div class="tweet-header-content">
        <div class="tweet-header-text">
          <h3>
            {{ tweet.user.name }}
          </h3>
          <h2>
            {{ tweet.elapsedTime }}
          </h2>
        </div>
        <div class="tweet-header-description">
          <p>{{ tweet.content }}</p>
        </div>
      </div>
      <i class="fa-solid fa-trash" (click)="deleteTweet(tweet.id)"></i>
    </div>
  </div>
</div>
